html {
  background-color: rgba(0, 0, 0, 0);
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -10;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("./image/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #eeeeee;
  font-family: Microsoft JhengHei;
  overflow-x: hidden;

  /* background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("./image/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

  /* background: linear-gradient(165deg, #111111, #222222);
  background-size: 400% 400%;
  background-attachment: fixed;

  -webkit-animation: BackgroundAnimation 15s ease infinite;
  -moz-animation: BackgroundAnimation 15s ease infinite;
  animation: BackgroundAnimation 15s ease infinite; */
}

@-webkit-keyframes BackgroundAnimation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}
@-moz-keyframes BackgroundAnimation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}
@keyframes BackgroundAnimation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

p {
  margin: 0px;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-ideograph;
}

h1 {
  font-weight: bold;
}

hr {
  background-color: #eeeeee;
}

.skill-card {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-group-item {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.bg-transparent-black {
  background-color: rgba(52, 58, 64, 0.7);
}

.bg-transparent-gray {
  background-color: rgba(109, 117, 126, 0.5);
}

.alert.bg-transparent-black.text-gray:hover {
  box-shadow: 5px 5px 5px 5px #222222;
  -moz-transform: translate(-3px, -3px);
  -ms-transform: translate(-3px, -3px);
  -o-transform: translate(-3px, -3px);
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}

.card.bg-transparent-black.text-white:hover {
  box-shadow: 5px 5px 5px 5px #222222;
  -moz-transform: translate(-3px, -3px);
  -ms-transform: translate(-3px, -3px);
  -o-transform: translate(-3px, -3px);
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #cccccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 1px;
  background: #505050;
}

::-webkit-scrollbar-thumb:hover {
  background: #303030;
}

.snow-box {
  position: fixed;
}

.snow {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

@keyframes fall {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

@keyframes float-1 {
  from {
    margin-left: -20px;
  }
  to {
    margin-left: 20px;
  }
}
@keyframes float-2 {
  from {
    margin-left: 20px;
  }
  to {
    margin-left: -20px;
  }
}
@keyframes float-3 {
  from {
    margin-left: -30px;
  }
  to {
    margin-left: 30px;
  }
}
@keyframes float-4 {
  from {
    margin-left: 30px;
  }
  to {
    margin-left: -30px;
  }
}
@keyframes float-5 {
  from {
    margin-left: -40px;
  }
  to {
    margin-left: 40px;
  }
}
@keyframes float-6 {
  from {
    margin-left: 40px;
  }
  to {
    margin-left: -40px;
  }
}

@keyframes float-7 {
  from {
    margin-left: -50px;
  }
  to {
    margin-left: 50px;
  }
}
@keyframes float-8 {
  from {
    margin-left: 50px;
  }
  to {
    margin-left: -50px;
  }
}

@keyframes float-9 {
  from {
    margin-left: -60px;
  }
  to {
    margin-left: 60px;
  }
}
@keyframes float-10 {
  from {
    margin-left: 60px;
  }
  to {
    margin-left: -60px;
  }
}

@keyframes float-11 {
  from {
    margin-left: -70px;
  }
  to {
    margin-left: 70px;
  }
}
@keyframes float-12 {
  from {
    margin-left: 70px;
  }
  to {
    margin-left: -70px;
  }
}
